.mycontainer {
  padding: 0 50px !important;
}
.posp-content ul {
  margin-bottom: 10px;
}

.posp-content li {
  list-style-type: disc;
  padding-inline-start: 1ch;
  padding-left: -20px;
  margin-left: 20px;
}

.posp-content li {
  margin-bottom: 25px;
  font-size: 16px;
}
.posp-content2 li {
  margin-bottom: 0px;
}

@media (min-width: 1500px) and (max-width: 1600px) {
  .mycontainer {
    padding: 0 115px !important;
  }
}
@media screen and (max-width: 768px) {
  .posp-content li {
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 0;
  }
}
@media only screen and (max-width: 500px) and (min-width: 50px) {
  .mycontainer {
    margin-left: 10%;
    padding: 0 10px !important;
  }
}

/* Margin bottom Issue  */
.gap_issue {
  margin-top: 0px;
}

@media only screen and (min-width: 1024px) {
  .gap_issue {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 0px) {
  .gap_issue {
    margin-top: 10px;
  }
}

.PospHeader {
  color: #2f2f2f;
  /* font-family: Work Sans; */
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pospSubhead {
  color: #4c8ce7;
  /* font-family: Work Sans; */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.containerStyle {
  background: linear-gradient(
    170deg,
    #f6fafe 0%,
    rgba(255, 255, 255, 0.06) 59.9%
  );
}

.pospSubText {
  color: #595959;
  /* font-family: Work Sans; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pospSubBoldText {
  color: #4f4f4f;
  /* font-family: Work Sans; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pospsubheadingtext {
  color: #595959;
  /* font-family: Work Sans; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.posptext {
  color: #595959;
  /* font-family: Work Sans; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.eligibleHead {
  color: #4c8ce7;
  text-align: justify;
  /* font-family: Work Sans; */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.eligibleText {
  color: #595959;
  text-align: justify;
  /* font-family: Work Sans; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.activesB > button .sideDot {
  background-color: #4481e4;
}
.activesB > button > div {
  color: #4481e4;
}
.pospSubText:hover {
  cursor: pointer;
}

.pospSubText:hover .dots-text {
  display: none;
}
.pospSubText:hover .hiddenText {
  display: block;
}
