/* 295 */
.career-box {
    width: 100%;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

/* 535 */
.bred {
    position: relative;
    
    height: 284.4px;
    background-color: #FFF;
  }
  /* 538 */
  /* .bred h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  .CareerHeader{
    color: #4C8CE7;
 
    /* font-family: Work Sans; */
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .growTogether{
    color: #131313;
/* font-family: Work Sans; */
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 48px;
  }
  .growTogetherText{
    color: #595959;
text-align: justify;
/* font-family: Work Sans; */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 148.8%; /* 23.808px */
  }

  .SalesText{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }