.foundingBg{
  background-color: #eceff3;
  /* background: linear-gradient(180deg, #F5F5F5 0%, #F6FAFE 100%); */
 
}

.textStyleFounding{
  color: #595959;
 text-align: start;
 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
 
  

}
.name{
  color: #4481E4;

font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-right: 10px;
border-right: 1px solid #000;
}


