/* 34 */
.input-text {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #a7a7a7;
    /* border: 1px solid #2A44A9; */
    margin-bottom: 10px;
    border-radius: 11px;
    color: #595959;
  }

  /* 55 */
  .raiseform-wrap2 {
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 39px 39px 39px 39px;
    width: 100%;
    background-color: #ffffff;
  }

/* 337 */
.termLife::after {
    position: absolute;
    bottom: 0%;
    left: 10%;
    z-index: 12;
    width: 0%;
    content: "";
    border-bottom: 1px solid #2a44a9;
  }
/* 429 */
  .checkbox {
    gap: 15px;
    display: flex;
    align-items: baseline;
    margin-bottom: 28px;
  }
  .checkbox label {
    width: 100%;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #595959;
    padding: 0;
    text-align: left;
    background-color: transparent;
  }

  /* 600 */
  .round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: -13px;
    width: 20px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

/* 681 */

  .checkbox:checked ~ .background-color {
    background-color: var(--white);
  }
  
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked),
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .checkbox:checked + label,
  .checkbox:not(:checked) + label {
    position: relative;
    width: 70px;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    margin: 17px 0;
    margin-top: 100px;
    height: 6px;
    border-radius: 4px;
    background-image: linear-gradient(298deg, var(--red), var(--yellow));
    z-index: 100 !important;
  }
  .checkbox:checked + label:before,
  .checkbox:not(:checked) + label:before {
    position: absolute;
    font-family: "unicons";
    cursor: pointer;
    top: -17px;
    z-index: 2;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
  }
  .checkbox:not(:checked) + label:before {
    content: "\eac1";
    left: 0;
    color: var(--grey);
    background-color: var(--dark-light);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(26, 53, 71, 0.07);
  }
  .checkbox:checked + label:before {
    content: "\eb8f";
    left: 30px;
    color: var(--yellow);
    background-color: var(--dark-blue);
    box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  }
  
  .checkbox:checked ~ .section .container .row .col-12 p {
    color: var(--dark-blue);
  }
  
  .checkbox-tools:checked + label,
  .checkbox-tools:not(:checked) + label {
    position: relative;
    display: inline-block;
    padding: 11px;
    width: 110px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
  }
  .checkbox-tools:not(:checked) + label {
    background-color: var(--dark-light);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  .checkbox-tools:checked + label {
    background: linear-gradient(rgb(42, 68, 169) 0%, rgb(48, 82, 211) 100%);
    color: #fff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
  }
  .checkbox-tools:not(:checked) + label:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .checkbox-tools:checked + label::before,
  .checkbox-tools:not(:checked) + label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-image: linear-gradient(298deg, var(--red), var(--yellow));
    z-index: -1;
  }
  .checkbox-tools:checked + label .uil,
  .checkbox-tools:not(:checked) + label .uil {
    font-size: 24px;
    line-height: 24px;
    display: block;
    padding-bottom: 10px;
  }
  
  .checkbox:checked
    ~ .section
    .container
    .row
    .col-12
    .checkbox-tools:not(:checked)
    + label {
    background-color: var(--light);
    color: var(--dark-blue);
    box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
  }
  
  .checkbox-budget:checked + label,
  .checkbox-budget:not(:checked) + label {
    position: relative;
    display: inline-block;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 260px;
    font-size: 52px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    color: transparent;
  }
  .checkbox-budget:not(:checked) + label {
    background-color: var(--dark-light);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  .checkbox-budget:checked + label {
    background-color: transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .checkbox-budget:not(:checked) + label:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .checkbox-budget:checked + label::before,
  .checkbox-budget:not(:checked) + label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-image: linear-gradient(138deg, var(--red), var(--yellow));
    z-index: -1;
  }
  .checkbox-budget:checked + label span,
  .checkbox-budget:not(:checked) + label span {
    position: relative;
    display: block;
  }
  .checkbox-budget:checked + label span::before,
  .checkbox-budget:not(:checked) + label span::before {
    position: absolute;
    content: attr(data-hover);
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: #fff;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    transition: max-height 0.3s;
  }
  .checkbox-budget:not(:checked) + label span::before {
    max-height: 0;
  }
  .checkbox-budget:checked + label span::before {
    max-height: 100%;
  }
  
  .checkbox:checked
    ~ .section
    .container
    .row
    .col-xl-10
    .checkbox-budget:not(:checked)
    + label {
    background-color: var(--light);
    box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
  }
  
  .checkbox-booking:checked + label,
  .checkbox-booking:not(:checked) + label {
    position: relative;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    padding: 0;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 16px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--dark-light);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
  }
  .checkbox-booking:not(:checked) + label::before {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  .checkbox-booking:checked + label::before {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .checkbox-booking:not(:checked) + label:hover::before {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .checkbox-booking:checked + label::before,
  .checkbox-booking:not(:checked) + label::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 4px;
    z-index: -2;
    background-image: linear-gradient(138deg, var(--red), var(--yellow));
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
  }
  .checkbox-booking:not(:checked) + label::before {
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }
  .checkbox-booking:checked + label::after,
  .checkbox-booking:not(:checked) + label::after {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 4px;
    z-index: -2;
    background-color: var(--dark-light);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
  }
  .checkbox-booking:checked + label::after {
    opacity: 0;
  }
  .checkbox-booking:checked + label .uil,
  .checkbox-booking:not(:checked) + label .uil {
    font-size: 20px;
  }
  .checkbox-booking:checked + label .text,
  .checkbox-booking:not(:checked) + label .text {
    position: relative;
    display: inline-block;
    -webkit-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
  }
  .checkbox-booking:checked + label .text {
    opacity: 0.6;
  }
  .checkbox-booking:checked + label .text::after,
  .checkbox-booking:not(:checked) + label .text::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    background-image: linear-gradient(138deg, var(--red), var(--yellow));
    z-index: 1;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
  }
  .checkbox-booking:not(:checked) + label .text::after {
    width: 0;
  }
  .checkbox-booking:checked + label .text::after {
    width: 100%;
  }
  
  .checkbox:checked
    ~ .section
    .container
    .row
    .col-12
    .checkbox-booking:not(:checked)
    + label,
  .checkbox:checked
    ~ .section
    .container
    .row
    .col-12
    .checkbox-booking:checked
    + label {
    background-color: var(--light);
    color: var(--dark-blue);
  }
  .checkbox:checked
    ~ .section
    .container
    .row
    .col-12
    .checkbox-booking:checked
    + label::after,
  .checkbox:checked
    ~ .section
    .container
    .row
    .col-12
    .checkbox-booking:not(:checked)
    + label::after {
    background-color: var(--light);
  }