/* .active {
  color: #2a44a9;
  font-weight: 700;
  border-bottom: 3px solid #2a44a9;
} */

/* .mycontainer {
  padding: 0 50px !important;
} */
#example-navbar-danger {
  background-color: white;
  z-index: 100;
}
.active {
  color: #4C8CE7;
  font-weight: 700;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #fff, #4582e4, #fff);
  border-image-slice: 1;
  padding-bottom: 5px;
}
.nav-item {
  margin-left: 30px;
}
.nav-item h2 {
  margin-top: 7px;
}
#example-navbar-danger.flex button {
  margin-top: 20px;
}



/* @media (min-width: 1500px) and (max-width: 1600px) {
  .mycontainer {
    padding: 0 115px !important;
  }
}

@media (min-width: 1500px) and (max-width: 1600px) {
  .mycontainer {
    padding: 0 115px !important;
  }
}
@media only screen and (max-width: 500px) and (min-width: 50px) {
  .mycontainer {
    margin-left: 10%;
    padding: 0 10px !important;
  }
} */
