/* 204 */
.hero {
  width: 40%;
  
  height: auto;

  
}
/* 211 */
.hero-background {

  border-radius: 0px 0px 0px 0px;
  max-width: 200%;
  width: 100%;
 

  

}
/* 234 */
.cstm-grid {
    display: grid;
    font-size: 85%;
 
  }
  /* 239 */
  .homeLeft {
    width: 54%;
   }
  /* 247 */
  .main-hero {
    

    background-image: url("../Assets//Images/bg1.png");
    width: 100%;
  background-size: 100% 320px;
  background-repeat: no-repeat;
  border-radius: 0px 0px 0px 0px;
  max-width: 200%;

  }
/* 1051 */
  @media only screen and (min-width: 1671px) and (max-width: 3000px) {
   
    .cstm-grid {
      display: grid;
      font-size: 100%;
      column-gap: 4%;
      row-gap: 15%;
      grid-template-columns: repeat(16%, 1fr) !important;
    }
    .hero {
      width: 33%;
      
      height: auto;
    
    }
    /* hero background */
    .hero-background{
   height: 634px;
    }
    .homeLeft {
      width: 60%;
      }
    
  }
  /* 1100 */
  @media only screen and (max-width: 1670px) and (min-width: 1536px) {
   
    .cstm-grid {
      grid-template-columns: repeat(4, 20%) !important;
      font-size: 85%;
    }
    
  }
  /* 1115 */
  @media only screen and (max-width: 1535px) and (min-width: 1425px) {
  .cstm-grid {
      display: grid;
      grid-template-columns: repeat(4, 20%);
      font-size: 85%;
    }
  }
/* 1125 */
  @media only screen and (max-width: 1535px) and (min-width: 1365px) {
   
    .cstm-grid {
      display: grid;
      grid-template-columns: repeat(4, 20%);
      font-size: 85%;
    }
   
    
  }
  /* 1145 */
  @media (min-width: 1500px) and (max-width: 1600px) {
    .main-hero {
      padding: 0 115px !important;
    }
  }
  /* 1176 */
  @media only screen and (max-width: 1365px) and (min-width: 1280px) {
   .cstm-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      font-size: 85%;
    }
    
   
    
  }
  /* 1196 */
  @media only screen and (max-width: 1280px) and (min-width: 1160px) {
    
    .cstm-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      font-size: 85%;
    }
   
   
    
  }
  /* 1216 */
  @media only screen and (max-width: 1160px) and (min-width: 1024px) {
   
    .cstm-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      font-size: 85%;
    }
    .choose-us {
      margin-top: 200px;
    }
   
   
    
  }
/* 1239 */
  @media only screen and (max-width: 1024px) and (min-width: 951px) {
   
    .cstm-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      font-size: 85%;
    }
    .choose-us {
      margin-top: 200px;
    }
  
    .homeLeft {
      width: 54%;
    }
    .homeLeft h1 {
      line-height: 45px;
    }
    .hero {
      margin-top: 127px;
    }
  }
  /* 1299 */
  @media only screen and (max-width: 950px) and (min-width: 700px) {
    .homeLeft {
      margin-top: 54%;
      width: 100%;
    }
    .homeLeft h1 {
      line-height: 45px;
    }
    .cstm-grid {
      display: grid;
      grid-template-columns: repeat(5, 17%);
      font-size: 85%;
    }
   .hero {
      right: 20%;
      width: 60%;
      
    }
  }
  /* 1353 */
  @media only screen and (max-width: 700px) and (min-width: 500px) {
    .cstm-grid {
      display: grid;
      column-gap: 5%;
      grid-template-columns: repeat(3, 28%);
      font-size: 85%;
    }
    .homeLeft {
      width: 100%;
    }
    .homeLeft h1 {
      line-height: 45px;
    }
    .hero {
   
      width: 80%;
 
    }
  }
  /* 1433 */
  @media only screen and (max-width: 500px) and (min-width: 50px) {
    .cstm-grid {
      display: grid;
      column-gap: 15%;
      grid-template-columns: repeat(2, 35%);
      font-size: 85%;
    }
    .homeLeft {
      padding-top: 0px;
      margin-top: 80%;
      width: 100%;
    }
    .homeLeft h1 {
      line-height: 45px;
    }
    
    .hero {
      right: 10%;
      width: 80%;
      top: 120px;
    }
    
  }
  /* 1483 */
  @media only screen and (max-width: 400px) and (min-width: 50px) {
    .cstm-grid {
      display: grid;
      column-gap: 15%;
      grid-template-columns: repeat(2, 35%);
      font-size: 85%;
    }
    .homeLeft {
      padding-top: 0px;
      margin-top: 90%;
      width: 100%;
    }
    .homeLeft h1 {
      line-height: 45px;
    }
    
    .hero {
      right: 10%;
      width: 80%;
  
    }
  }

  /* 1527 */
  @media only screen and (max-width: 600px) and (min-width: 50px) {
    .homeLeft {
      
      width: 100%;
    }
    .homeLeft h1 {
      line-height: 45px;
    }
  }