.how-it-works-img {
    margin-bottom: 30px;
  }

  .how-it-works-img h3 {
    font-size: 16px;
  }

  .how-it-works-img img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }