/* 429 */
.checkboxInvest {
  gap: 15px;
  display: flex;
  align-items: baseline;
  margin-bottom: 28px;
  padding-left: 25px;
}

/* 600 */
.roundInvest {
  position: relative;
}

.roundInvest label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0px;
  position: absolute;
  top: -13px;
  width: 20px;
}

.roundInvest label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.roundInvest input[type="checkbox"] {
  visibility: hidden;
}

.roundInvest input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.roundInvest input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
