.policyHeader{

 
  color: #4481e4;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.policyHeader2 {
  color: #000;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.listBox{
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 40px 70px -18px rgba(0, 0, 0, 0.10);
width: 430px;
position: relative;

}

.bulletImage{

  width: 18px;
  height: 16px;
  position: absolute;
  top: 18px;
  left: 5%;
}



.sideDot{
  background-color: #a3a7a9;
  border-radius: 50%;
    height: 10px;
  
    width: 10px;  
}

.sideLine{
  background-color: #898d8f;
    display: block;
    height: 36px;
   
    text-align: center;
    width: 2px;
}

 /* a:hover,
 a:focus {
	color: #882727;
} */

@media (min-width:769px) and (max-width:1024px){
  .listBox{
  width: 300px;
 }
}


@media (min-width:68px) and (max-width:768px){
  .listBox{
  width: 100%;
 }
}
.actives>button .sideDot{
  
  background-color: #4481e4;
}
.actives>button>div{
  color: #4481e4;
}













