.policyHeader{

 
  color: #4481e4;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.policyHeader2 {
  color: #000;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.listBox{
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 40px 70px -18px rgba(0, 0, 0, 0.10);
width: 430px;
position: relative;
height: 50px;
}

.bulletImage{

  width: 18px;
  height: 16px;
  position: absolute;
  top: 18px;
  left: 5%;
}

.text_font {
  color: #595959;
  font-size: 16px;
  font-weight: 400;
}




