body,
html {
  font-family: "Roboto", sans-serif;
  word-break: break-word;
  scroll-behavior: smooth;
}
.nav-item {
  margin-left: 30px;
}
.nav-item h2 {
  margin-top: 7px;
}

.topic {
  margin: auto;
  text-align: center;
  color: #4481e4;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.topic2 {
  color: #000;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.textStyle {
  color: #595959;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-border-bottom {
  border-bottom: 2px solid linear-gradient(to right, #fff, #4582e4, #FFF  );
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #fff 10%, #4582e4 50%, #fff 100%);
  border-image-slice: 1;
  padding-bottom: 5px;
}

.divStyles {
  background: linear-gradient(176deg, #4582e4 0%, #6dbdf7 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border-radius: 11px;
  width: fit-content;
  padding-left: 25px;
  padding-right: 25px;
  height: 35px;
}

.divStyles:hover {
  background: white;
  box-shadow: 5px 10px;
  color: #4582e4;
}


.divStylesCareer {
  background: linear-gradient(176deg, #4582e4 0%, #6dbdf7 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border-radius: 11px;
  width: fit-content;
  padding-left: 25px;
  padding-right: 25px;
}

.divStylesCareer:hover {
  background: white;
  box-shadow: 5px 10px;
  color: #4582e4;
}

.textHeader1{
  color: #4C8CE7;
 
  /* font-family: Work Sans; */
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.textHeader1Lite{
  color: #000;
  /* font-family: Work Sans; */
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textHeader2{
  color: #010101;
  /* font-family: Work Sans; */
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  line-height: inherit;
}

.buttonText{
  color: #FFF;
text-align: center;
/* font-family: Work Sans; */
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}




.textNormal{
  color: #595959;
  /* font-family: Roboto; */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
}

.CancelPolicy{
  color: #4C8CE7;
/* font-family: Roboto; */
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.CancelPolicyText{
  color: #595959;
text-align: justify;
/* font-family: Roboto; */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.text_font {
  color: #595959;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 769px ) and (max-width:1024px){
  .textHeader2{
    font-size: 28px;
  }
  .textHeader1{
    font-size: 28px;
  }  
  .text_font {
    font-size: 14px;
  }
  .topic {
    font-size: 28px;
  }
  .topic2 {
    font-size: 28px;
  }
  .textNormal{
    font-size: 18px;
  }
  .CancelPolicy{
  font-size: 22px;
  }
  .CancelPolicyText{
  font-size: 14px;
  }
  .textHeader1Lite{
    font-size: 28px;
  }
}

@media (min-width: 601px ) and (max-width:768px){
  .textHeader1Lite{
    font-size: 26px;
  }
  .textHeader2{
    font-size: 26px;
  }
  .textHeader1{
    font-size: 26px;
  } 
  .text_font {
    font-size: 12px;
  } 
  .topic {
    font-size: 26px;
  }
  .topic2 {
    font-size: 26px;
  }
  .textNormal{
    font-size: 16px;
  }
  .CancelPolicy{
    font-size: 20px;
    }
    .CancelPolicyText{
      font-size: 14px;
      }
}

@media (min-width: 441px ) and (max-width:600px){
  .textHeader1Lite{
    font-size: 26px;
  }
  .textHeader2{
    font-size: 26px;
  }
  .textHeader1{
    font-size: 26px;
  } 
  .text_font {
    font-size: 12px;
  } 

  .topic {
    font-size: 26px;
  }
  .topic2 {
    font-size: 26px;
  }
  .textNormal{
    font-size: 14px;
  }
  .CancelPolicy{
    font-size: 18px;
    }
    .CancelPolicyText{
      font-size: 12px;
      }
}

@media (min-width: 0px ) and (max-width:440px){
  .textHeader1Lite{
    font-size: 24px;
  }
  .textHeader2{
    font-size: 24px;
  }
  .textHeader1{
    font-size: 24px;
  } 
  .text_font {
    font-size: 12px;
  } 

  .topic {
    font-size: 24px;
  }
  .topic2 {
    font-size: 24px;
  }
  .textNormal{
    font-size: 14px;
  }
  .CancelPolicy{
    font-size: 18px;
    }
    .CancelPolicyText{
      font-size: 12px;
      }

}
@media (min-width: 0px ) and (max-width:400px){
  .textHeader1Lite{
    font-size: 22px;
  }
  .textHeader2{
    font-size: 22px;
  }
  .textHeader1{
    font-size: 22px;
  } 
 

  .topic {
    font-size: 22px;
  }
  .topic2 {
    font-size: 22px;
  }
 

}


@media (min-width: 0px ) and (max-width:639px){
  .divStyles {
    background: linear-gradient(176deg, #4582e4 0%, #6dbdf7 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border-radius: 11px;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
  }
  .divStylesCareer {
    background: linear-gradient(176deg, #4582e4 0%, #6dbdf7 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border-radius: 11px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
  }
}
